:root {
  --Primary-color: #f2f60f;
  --Secondary-color: #303620;
  --Tertiary-color: #bdb32a;
  --Quarterinary-color: #000000;
  --Main-Body: #dddbd4;
  --Selecting-color: #4e4d4d;
  --Table-color: #a8a88b;
  --LightBack-color: #ddddd9;
  --LightTable-color: #c0c038;
}

.App {
  text-align: center;

  width: 100%;
  min-height: 100%;
}
.App-header {
  background-image: linear-gradient(
    45deg,
    var(--Primary-color),
    var(--Tertiary-color),
    var(--Secondary-color)
  );
}

.Main {
  background-color: var(--Main-Body);
  display: flex;
  flex-flow: column;
  height: 100%;
  width: 100%;
}

.ChartAllign {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  padding-bottom: 150px;
}

.linkStyle {
  text-decoration: none;
}

@media (prefers-reduced-motion: no-preference) {
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
