.product-card {
  background-color: #fff;
  padding: 20px;
  padding-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.25);
  margin: 15px;
}

.card-header {
  padding: 10px 10px;
  text-align: center;
}

.card-header img {
  max-height: 300px;
}

.product-title {
  font-size: 24px;
  line-height: 1;
  color: #353535;
  margin: 0;
  margin-bottom: 10px;
}

.product-status {
  color: #808080;
}

.product-price {
  font-size: 30px;
  color: #353535;
  margin: 0;
}

.card-footer {
  display: flex;
  justify-content: center;
}

.btns {
  padding: 15px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  margin-right: 10px;
}

.btns-primary {
  background-color: #b34bf8;
  color: #fff;
}

.btns-secondary {
  background-color: lightgray;
  color: #808080;
}

.card-footer .btn:first-child {
  margin-right: 15px;
}

.container {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}